@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root{
  --blue:rgb(40, 40, 143);
  --vang:rgb(165, 132, 15);
  --trang: rgba(255, 255, 255, 0.958);
  --den: #000000fc;
  --green: #009f7f;
  --yellow: #fbb234;
  --box-shaw : #f2eb8c;
  --background :#03e9f4;
  --toi: #332727;
  --red: #e30d0d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;

}

h1, h2 {
  font-family: sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.search-box{
  box-shadow: 0 10px 25px #b6b7b9;
  height: 30px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
}
.search-box:hover{
  width: 400px;
  height: 50px;
}

.search-box input{
  transform: 0.8s;
  outline: none;
  border: none;
  background: transparent;
}
.primary{
  padding: 5px 10px;
  background: var(--blue);
  font-weight: bold;
  color: var(--vang);
}
.primary-btn {
  padding: 10px 20px;
  background: var(--blue);
  font-weight: bold;
  color: var(--vang);
}

.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid var(--trang);
  font-weight: bold;
  color: var(--trang);
}

.container {
  max-width: 85%;
  margin: auto;
}

/*--------header---------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: 20px 0;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #100d0d4e;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: var(--blue);
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;
}

@media only screen and (max-width:768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--green);
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
  }

  header ul li {
    display: block;
  }

  header ul li a {
    color: var(--trang);
  }

  header i {
    color: var(--trang);
  }

  header .navlinks span {
    color: var(--den);
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}

/*--------header---------*/
/*--------home---------*/
.home {
  height: 100vh;
  color: #c28383;
}

.home img {
  width: 100%;
  height: 100vh;
}

.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}

.home .text h1 {
  font-size: 80px;
  font-family: serif;
  font-weight: 400;
}

.home p {
  margin: 20px 0;
}

.home button {
  margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: var(--den) !important;
  color: var(--trang);
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}

/*--------home---------*/
/*--------book---------*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.book {
  padding: 40px 0;
  background: var(--den);
  color: var(--den);
}

h1 {
  font-family: serif;
}

.book h1 {
  font-size: 28px;
}

.book h1 span {
  color: var(--trang);
}

.book input {
  padding: 20px;
}

.book input:nth-last-child(1) {
  background: var(--blue);
  color: var(--trang);
}

/*--------book---------*/
/*--------about---------*/
.left, .right {
  width: 50%;
  padding: 30px;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: serif;
  position: absolute;
  top: -30px;
}

.heading h2 {
  margin: 30px 0;
  font-size: 45px;
  font-family: serif;
  font-weight: 400;
}

.about .heading h1 {
  top: 55px;
}

.about {
  position: relative;
}

.about .left {
  margin-top: 30px;
}

.about p {
  font-size: 15px;
}

.about button {
  margin: 30px 0;
}

/*--------about---------*/
/*--------counter---------*/
.counter {
  background-image: url("../images/background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  color: var(--trang);
}

.counter .grid {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  padding-top: 60px;
}

.counter h1 {
  font-size: 50px;
}

.counter hr {
  width: 50%;
  margin: 10px auto;
  background: var(--trang);
  height: 2px;
  border: none;
}

/*--------counter---------*/
/*--------rooms---------*/
.rooms {
  position: relative;
}

.rooms .text {
  border: 1px solid var(--den);
  border-top: none;
  padding: 30px;
}

.rooms i {
  font-size: 12px;
  color: #fbb234;
  margin: 15px 0;
  margin-right: 5px;
}

.rooms p {
  margin: 20px 0;
  opacity: 0.7;
}

.rooms h3 {
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: rgb(40, 40, 143);
}

.rooms h3 span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.owl-carousel1 .owl-nav .owl-prev,
.owl-carousel1 .owl-nav .owl-next {
  position: absolute;
  top: -20%;
  height: 50px;
  width: 50px;
  background: rgb(40, 40, 143)!important;
}

.owl-carousel1 .owl-nav .owl-prev i,
.owl-carousel1 .owl-nav .owl-next i {
  color: #fff;
}

.owl-carousel1 .owl-nav .owl-prev {
  left: 90%;
}

.owl-carousel1 .owl-nav .owl-next {
  right: 0;
}

/*--------rooms---------*/
/*--------gallery---------*/
.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery .img {
  position: relative;
}

.gallery .img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(40, 40, 143);
  width: 255px;
  height: 251px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 3;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.gallery span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
}

.overlay h3 {
  margin-top: 20px;
  font-weight: 500;
}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
  opacity: 1;
  cursor: pointer;
}

.gallery .owl-nav .owl-prev {
  left: 85%;
}

.gallery .owl-nav .owl-next {
  right: 5%;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
  top: -40%;
}

/*--------gallery---------*/
/*--------services---------*/
.services {
  position: relative;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.services .left {
  padding: 30px 0;
}

.services .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}

.services .box .text {
  padding: 30px 0;
  border: 1px dashed #fff;
}

.services i {
  font-size: 50px;
  color: rgb(40, 40, 143);
  transition: 0.5s;
}

.services h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20p;
  transition: 0.5s;
}

.services img {
  width: 100%;
  height: 100%;
}

.services .box:hover {
  background: rgb(40, 40, 143);
  color: #fff;
  cursor: pointer;
}

.services .box:hover i,
.services .box:hover h3 {
  color: #fff;
}

/*--------services---------*/
/*--------Customer---------*/
.Customer {
  background-image: url("../images/background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  color: #fff;
  text-align: center;
}

.Customer .container {
  max-width: 70%;
}

.Customer .item {
  padding: 10% 0;
}

.Customer i {
  width: 100px;
  height: 100px;
  background: rgb(40, 40, 143);
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 50px;
}

.Customer p {
  line-height: 30px;
}

.Customer h3 {
  margin-top: 20px;
  color: rgb(40, 40, 143);
}

.Customer span {
  font-size: 15px;
}

.owl-carousel2 .owl-dots {
  position: absolute;
  bottom: 70px;
  left: 46.6%;
}

.owl-carousel2 .owl-dots i {
  color: rgb(40, 40, 143);
}

.owl-carousel2 .owl-dots i:hover button {
  color: rgb(40, 40, 143) !important;
}

.owl-carousel2 span {
  border: 2px solid #fff;
  background: transparent !important;
}

.owl-carousel2 .active span {
  background: rgb(40, 40, 143) !important;
  border: 2px solid rgb(40, 40, 143);
}

/*--------Customer---------*/
/*--------news---------*/
.news {
  position: relative;
}

.news i {
  color: rgb(40, 40, 143);
  text-transform: capitalize;
  font-size: 18px;
}

.news label {
  margin-top: 12px;
  margin-right: 20px;
}

.news .left {
  padding: 30px 0;
  width: 65%;
}

.news .right {
  width: 35%;
}

.news img {
  width: 100%;
}

.news .items p {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.news .box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 40px 0;
}

.news .box:nth-child(1) {
  padding-top: 0;
}

.news .box:nth-last-child(1) {
  border-bottom: none;
}

.news .box img {
  width: 110px;
  height: 114px;
}

.news .stext {
  padding: 0 0 0 20px;
}

/*--------news---------*/
/*--------newsletter---------*/
.newsletter {
  position: relative;
}

.newsletter .container {
  background: rgb(40, 40, 143);
  padding: 40px 30px;
  position: absolute;
  top: -70px;
  left: 8%;
  width: 100%;
}

.newsletter h1 {
  width: 100%;
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}

.newsletter input {
  padding: 20px;
}

.newsletter input:nth-last-child(2) {
  width: 80%;
  background: rgba(255, 255, 255, 0.4);
}

.newsletter input:nth-last-child(1) {
  margin-left: 20px;
  width: 30%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

/*--------newsletter---------*/
/*--------footer---------*/
footer {
  background: #282834;
  color: #b6b7b9;
  padding: 10% 0 5% 0;
}

footer .grid {
  grid-template-columns: 6fr 3fr 3fr;
}

footer p {
  color: #b6b7b9;
  font-size: 15px;
  line-height: 25px;
}

footer .icon i {
  margin: 20px 20px 20px 0;
  color: #b6b7b9;
}

footer h2 {
  color: #fff;
  margin-bottom: 10px;
}

footer li {
  margin-bottom: 20px;
}

footer i {
  color: rgb(40, 40, 143);
  margin: 20px 0;
  margin-right: 20px;
}

footer label {
  margin: 20px 0;
}

.legal {
  padding: 15px 0;
  background: #282834;
  color: #b6b7b9;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/*--------footer---------*/
@media only screen and (max-width:768px) {
  .home {
    color: #fff;
    height: 50vh;
  }

  .home img {
    width: 100%;
    height: 50vh;
  }

  .left, .right {
    width: 100%;
  }

  .book h1 {
    margin-bottom: 20px;
  }

  .container.flex,
  .book .flex_space {
    flex-direction: column;
  }

  .book .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .counter .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .owl-carousel .owl-nav .owl-prev {
    left: 80%;
  }

  .gallery .owl-nav .owl-prev {
    left: 75%;
  }

  .rooms .owl-nav .owl-prev,
  .rooms .owl-nav .owl-next {
    top: -30%;
  }

  .gallery .owl-nav .owl-prev,
  .gallery .owl-nav .owl-next {
    top: -80%;
  }

  .services .flex_space {
    flex-direction: column;
  }

  .Customer {
    height: 60vh;
  }

  .Customer .container {
    max-width: 80%;
  }

  .owl-carousel2 .owl-dots {
    bottom: 0;
    left: 44.5%;
  }

  .news .content.flex {
    flex-direction: column;
  }

  .news .left {
    padding: 30px 0;
    width: 100%;
  }

  .news .right {
    width: 100%;
  }

  .newsletter {
    position: relative;
    background: rgb(40, 40, 143);
  }

  .newsletter .container {
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    position: relative;
  }

  .newsletter .flex_space {
    flex-direction: column;
  }

  .newsletter input:nth-last-child(2) {
    margin: 20px 0;
    width: 100%;
  }

  .newsletter input:nth-last-child(1) {
    margin: 0;
  }

  footer .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


/*--------Nen---------

.products-preview{
  position: fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin:2rem;
  width: 40rem;
}

.products-preview .preview.active{
  display: inline-block;
}

.products-preview .preview img{
  height: 30rem;
}

.products-preview .preview .fa-times{
  position: absolute;
  top:1rem; right:1.5rem;
  cursor: pointer;
  color:#444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

.products-preview .preview h3{
  color:#444;
  padding:.5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .stars{
  padding:1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .stars i{
  color:#27ae60;
}

.products-preview .preview .stars span{
  color:#999;
}

.products-preview .preview p{
  line-height: 1.5;
  padding:1rem 0;
  font-size: 1.6rem;
  color:#777;
}

.products-preview .preview .price{
  padding:1rem 0;
  font-size: 2.5rem;
  color:#27ae60;
}

.products-preview .preview .buttons{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a{
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.8rem;
  color:#444;
  border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
  background: #444;
  color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
  background: #111;
}

.products-preview .preview .buttons a.buy:hover{
  background: #444;
  color:#fff;
}


@media (max-width:991px){

  html{
     font-size: 55%;
  }

}

@media (max-width:768px){

  .products-preview .preview img{
     height: 25rem;
  }

}

@media (max-width:450px){

  html{
     font-size: 50%;
  }

}
*/

/* Book */
.section{
  position: relative;
  height: 150vh;
}
.section .section-center{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#booking{
  font-family: 'Raleway', sans-serif;
}
.booking-form{
  position: relative;
  max-width: 542px;
  width: 100%;
  margin: auto;
  padding: 40px;
  overflow: hidden;
  background-image: url('https://i.imgur.com/8z1tx3u.jpg');
  background-size: cover;
  border-radius: 5px;
  z-index: 20
}
.booking-form::before{
  content: '';
  position: absolute;
  left: 0;right: 0;bottom: 0;top: 0;
  background: rgba(26, 6, 6, 0.7);
  z-index: -1
}
.booking-form .form-header{
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.booking-form .form-header h1{font-weight: 700;
  text-transform: capitalize;
  font-size: 42px;
  margin: 0px;
  color: #fff
}
.booking-form .form-group{
  position: relative;
  margin-bottom: 30px;
}
.booking-form .form-control{
  background-color: rgba(255, 255, 255, 0.2);
  height: 60px;
  padding: 0px 25px;
  border: none;
  border-radius: 40px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px transparent;
  box-shadow: 0px 0px 0px 2px transparent;
  -webkit-transition: 0.2s;transition: 0.2s
}
.booking-form .form-control::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.5)
}
.booking-form .form-control:-ms-input-placeholder{
  color: rgba(255, 255, 255, 0.5)
}
.booking-form #togglePassword.form-control::placeholder{
  color: rgba(255, 255, 255, 0.5)
}.booking-form .form-control:focus{
  -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
  box-shadow: 0px 0px 0px 2px #ff8846
}
.booking-form input[type="date"].form-control{
  padding-top: 16px}
  .booking-form input[type="date"].form-control:invalid{
    color: rgba(255, 255, 255, 0.5)
  }
  .booking-form input[type="date"].form-control+.form-label{
    opacity: 1;top: 10px
  }
  .booking-form select.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none}
    .booking-form select.form-control:invalid{
      color: rgba(255, 255, 255, 0.5)
    }
    .booking-form select.form-control+.select-arrow{
      position: absolute;
      right: 15px;top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 32px;
      line-height: 32px;
      height: 32px;
      text-align: center;
      pointer-events: none;
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px
    }
    .booking-form select.form-control+.select-arrow:after{
      content: '\279C';
      display: block;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg)
    }
    .booking-form select.form-control option{color: #000}
    .booking-form .form-label{
      position: absolute;
      top: -10px;
      left: 25px;
      opacity: 0;
      color: #ff8846;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      height: 15px;
      line-height: 15px;
      -webkit-transition: 0.2s all;
      transition: 0.2s all
    }
    .booking-form .form-group.input-not-empty .form-control{padding-top: 16px}
    .booking-form .form-group.input-not-empty .form-label{opacity: 1;top: 10px}
    .booking-form .submit-btn{
      color: #fff;
      background-color: #e35e0a;
      font-weight: 700;
      height: 60px;
      padding: 10px 30px;
      width: 100%;
      border-radius: 40px;
      border: none;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1.3px;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;}
      .booking-form .submit-btn:hover, .booking-form .submit-btn:focus{opacity: 0.9}


     